.DetalleEmpresa {
  background-color: rgba(0,0,0,0.05);

  .detalle-nombre-empresa {
    .nombre-empresa {
      font-weight: 800;
      margin-bottom: 15px;      
    };
    font-size: 1.8em;
    text-align: center;
    overflow: scroll;
    max-height: 100%;
    width: 100%;
  }

  .anio {
    font-size: 16px;
  }

  .periodo {
    background-color: rgba(0,0,0,0.1);
    font-size: 16px;
    text-align: inherit;
    &:hover {
      background-color: rgba(0,0,0,0.15);
    }
  }
}
