.title {
  color: red;
}

//////////////////////
/// Vertical Align ///
//////////////////////
// Use as @include vertical-align();
@mixin vertical-align($position: relative) {
  display:flex;
  justify-content:center;
  align-items:center;
}
